.slider {
  display: inline-block;
  min-width: 120px;
  color: rgba(0, 0, 0, 0.87);
  font-family: var(--slider-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  line-height: 20px;
}

.slider > input {
  display: block;
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  height: 36px;
  background-color: transparent;
  cursor: pointer;
}

.slider > input:focus {
  outline: none;
}

.slider > input:disabled {
  cursor: default;
}

/* Webkit */
.slider > input::-webkit-slider-runnable-track {
  margin: 17px 0;
  border-radius: 1px;
  width: 100%;
  height: 2px;
  background-color: var(--pure-material-primary24a, rgba(33, 150, 243, 0.24));
}

.slider > input:disabled::-webkit-slider-runnable-track {
  background-color: var(--pure-material-inactive24a, rgba(141, 141, 141, 0.24));
}

.slider > input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: var(--pure-material-primary, #2196f3);
  transform: scale(6, 6);
  transition: box-shadow 0.4s;
}

.slider > input:hover::-webkit-slider-thumb,
.slider > input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-primary12a, rgba(33, 150, 243, 0.12));
}

.slider > input:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-primary24a, rgba(33, 150, 243, 0.24));
}

.slider > input:disabled::-webkit-slider-thumb {
  background-color: var(--pure-material-inactive, #8d8d8d);
  box-shadow: 0 0 0 1px var(--pure-material-background, white);
  transform: scale(4, 4);
}

/* Moz */
.slider > input::-moz-range-track {
  margin: 17px 0;
  border-radius: 1px;
  width: 100%;
  height: 2px;
  background-color: var(--pure-material-primary24a, rgba(33, 150, 243, 0.24));
}

.slider > input:disabled::-moz-range-track {
  background-color: var(--pure-material-inactive24a, rgba(141, 141, 141, 0.24));
}

.slider > input::-moz-range-progress {
  border-radius: 1px;
  height: 2px;
  background-color: var(--pure-material-primary, #2196f3);
}

.slider > input:disabled::-moz-range-progress {
  background-color: var(--pure-material-inactive, #8d8d8d);
}

.slider > input::-moz-range-thumb {
  appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: var(--pure-material-primary, #2196f3);
  transform: scale(6, 6);
  transition: box-shadow 0.3s;
}

.slider > input:hover::-moz-range-thumb,
.slider > input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-primary12a, rgba(33, 150, 243, 0.12));
}

.slider > input:active::-moz-range-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-primary24a, rgba(33, 150, 243, 0.24));
}

.slider > input:disabled::-moz-range-thumb {
  background-color: var(--pure-material-inactive, #8d8d8d);
  box-shadow: 0 0 0 1px var(--pure-material-background, white);
  transform: scale(4, 4);
}

.slider > input::-moz-focus-outer {
  border: none;
}

/* MS */
.slider > input::-ms-track {
  box-sizing: border-box;
  margin: 17px 0;
  border: none;
  border-radius: 1px;
  padding: 0 17px;
  width: 100%;
  height: 2px;
  background-color: transparent;
}

.slider > input::-ms-fill-lower {
  border-radius: 1px;
  height: 2px;
  background-color: var(--pure-material-primary, #2196f3);
}

.slider > input:disabled::-ms-fill-lower {
  background-color: var(--pure-material-inactive, #8d8d8d);
}

.slider > input::-ms-fill-upper {
  border-radius: 1px;
  height: 2px;
  background-color: var(--pure-material-primary24a, rgba(33, 150, 243, 0.24));
}

.slider > input:disabled::-ms-fill-upper {
  background-color: var(--pure-material-inactive24a, rgba(141, 141, 141, 0.24));
}

.slider > input::-ms-thumb {
  appearance: none;
  margin: 0 17px;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: var(--pure-material-primary, #2196f3);
  transform: scale(6, 6);
  transition: box-shadow 0.3s;
}

.slider > input:hover::-ms-thumb,
.slider > input:focus::-ms-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-primary12a, rgba(33, 150, 243, 0.12));
}


.slider > input:active::-ms-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-primary24a, rgba(33, 150, 243, 0.24));
}

.slider > input:disabled::-ms-thumb {
  background-color: var(--pure-material-inactive, #8d8d8d);
  box-shadow: 0 0 0 1px var(--pure-material-background, white);
  transform: scale(4, 4);
}
