.spang {
	color: #4285F4;
}

.spano {
	color: #EA4335;
}

.spano2 {
	color: #FBBC05;
}

.spang2 {
	color: #4285F4;
}

.spanl {
	color: #34A853;
}

.spane {
	color: #EA4335;
}

#word {
	font-family: Arial;
	font-size: 6.1em;
	padding-top: 170px;
	padding-left: 530px;
	
}

.search-box {
	width: 550px;
    position: absolute;
    left: 404px;
    height: 30px;
}



.plz a{
	text-decoration: none;
	color: black;
	font-family: Tahoma;
}

	
.btn-search {
    cursor:pointer;
    position: relative;
    left: 460px;
    top: 60px;
    font-family: arial,sans-serif;
    background-color: #F3F3F3;
    border: none;
    color: #8d8d8d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-search:hover {
	color: black;
}

.btn-luck {
    cursor:pointer;
    position: relative;
    left: 490px;
    top: 60px;
    font-family: arial,sans-serif;
    background-color: #F3F3F3;
    border: none;
    color: #8d8d8d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-luck:hover {
	color: black;
}